.cart-container {
    width: 70%;
    margin: auto;
}

.cart-container h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.shopping-cart {
    background-color: #fff;
    border-radius: .5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    padding: 3rem;
}

.shopping-cart table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.shopping cart th {
    background-color: #EFF6EE;
}

.shopping-cart th,
.shopping-cart td {
    padding: .75rem;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.cart-product img {
    width: 8rem;
}

.cart-product .quantity-btn {
    color: #222;
    background-color: transparent;
    padding: .25rem .5rem;
    border: none;
    cursor: pointer;
    border-radius: .25rem;
}

.cart-product .quantity-btn:hover {
    background-color: #327d1c;
    color: #fff;
}

.cart-product .remove-product {
    background-color: #e74c3c;
    color: #fff;
    padding: .5rem .75rem;
    border-radius: .25rem;
    border: none;
    cursor: pointer;
}

.cart-product .remove-product:hover {
    background-color: #ff0000;
}

.summary {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 1rem;
}

.summary-item {
    width: 30%;
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
}

.summary-item label {
    font-weight: bold;
}

.checkout-btn-container {
    text-align: end;
}

.checkout-btn {
    background-color: #327d1c;
    color: #fff;
    padding: .75rem 1.25rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: .25rem;
}

.checkout-btn:hover {
    background-color: #438e2d;
}