<div class="header-section">
    <div class="logo-container">
        <a href="#home">
            <img src="./../../assets/logo.svg" class="page-logo" alt="logo">
        </a>
    </div>
    <div class="page-menu-container">
        <app-nav-menu></app-nav-menu>
    </div>
</div>
<div class="icons-container">
    <div class="user-icon">
        <a href="?">
            <span class="icon material-symbols-outlined">person</span>
        </a>
    </div>
    <div class="cart-icon">
        <a href="/cart">
            <span class="icon material-symbols-outlined">shopping_basket</span>
        </a>
    </div>
</div>